.k-input:hover,
.k-select:hover,
.k-dropdown-wrap.k-state-default.k-state-hover,
.k-dropdown-wrap.k-state-default.k-state-focused,
.k-dropdown-wrap.k-state-default.k-state-focused.k-state-active.k-state-border-down:hover{
    background-color: white !important; 
}

  .k-grid tr:not(.k-state-selected):hover{
      background: none;
      color: inherit;
  }

  .k-grid{
      width: 100%;
  }

    .k-grid tr.k-alt:not(.k-state-selected):hover {
      background: inherit;
  }


.container-fluid {
  margin-top: 40px;
}

.demo-section.k-content{
     background: #F5F5F5;
}

#left-panel {
  outline: none;
  min-height: 500px;
  background: #F5F5F5;
  /*border-collapse: collapse;*/
}

#right-panel {
  outline: none;
  min-height: 500px;
  /*border-collapse: collapse;*/
  display: inline-block;
  float: right;
}


.add-roster-btn{
  cursor: pointer;
}

.add-roster-wrapper{
  text-align:center;
  vertical-align: bottom;
  min-height: 80px;
}

.glyphicon-plus {
	margin-top:5px;
	margin-bottom:5px;
	/*background:orange;*/
}

.glyphicon-remove{
    margin-left: 5px;
    display: none;
}

.edit-Record{
    margin-left:5px;
    display: none;
}

.edit-Record:hover,.glyphicon-remove:hover{
    cursor:pointer;
}

.innerdiv{
	background:#32C0C6;
	display: block;
	width:80%;
	margin:auto;
	margin-top:3px;
	font-size:14px;
	padding:5px 0 5px 0;
}

.small{
    font-size:9px;
}

.active{
    background: #30ABE0;
}

.dateHeader, .dateHeader:hover{
    background-color: #D8EAF4;
}

.staffName{
    background-color: #D8EAF4;
}

.todayHeader{
    background-color: #30ABE0;
    color: white;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: transparent !important;
}


.inline{
    display: inline-block;
}

.pull-right{
    float: right!important;
}

div{
    display: block;
}

.input-group{
    width: 100%;
}

#warning{
    color: red;
}

